
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">DatingApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto" >
        @if (accountService.currentUser$| async) {
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
          <li *appHasRole='["Admin","Moderator"]' class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive='active' >Admin</a>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" routerLink='/errors'routerLinkActive='active' >Errors</a>
        </li>

      </ul>
      @if ((accountService.currentUser$| async); as user) {
        <div class="dropdown" dropdown>
          <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
          <a class="dropdown-toggle text-light ms-2" dropdownToggle>Welcome {{user.knownAs || user.username | titlecase}}</a>
          <div class="dropdown-menu"*dropdownMenu>
            <a routerLink='member/edit' class="dropdown-item">Edit profile</a>
            <div class="dropdown-divider"></div>
            <a  class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
      }
      @if ((accountService.currentUser$| async)===null) {
        <form #loginForm="ngForm"class="d-flex flex-wrap align-items-center gap-2 mt-2 mt-md-0" (ngSubmit)="login()">
          <input name="username" [(ngModel)]="model.username" class=" me-sm-2" type="text"  placeholder="Username" required>||
          <input name="password" [(ngModel)]="model.password" class="me-sm-2" type="password"  placeholder="Password" required>||
          <button class="btn btn-success my-2 my-sm-0" type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
      }
    </div>
  </div>
</nav>
